@model Auth.Models.douong

@{
    ViewBag.Title = "XoaSanPham";
    
}

<h2>XoaSanPham</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>douong</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tendouong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tendouong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dongiaban)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dongiaban)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dongianhap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dongianhap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trongluong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trongluong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Loaidouong.Tenloai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Loaidouong.Tenloai)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
